<%- layout('layouts/boilerplate') %>
<body>
  <div class="row">
    <div class="col-8 offset-2">
      <h3>Create new listing</h3>
      <form
        action="/listing"
        method="post"
        novalidate
        class="needs-validation"
        enctype="multipart/form-data"
      >
        <div class="mb-3">
          <label for="title" class="form-label">Title:</label>
          <input
            type="text"
            id="title"
            name="listing[title]"
            class="form-control"
            required
          />
          <div class="invalid-feedback">please enter a title</div>
        </div>

        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price:</label>
            <input
              id="price"
              name="listing[price]"
              class="form-control"
              required
            />
            <div class="invalid-feedback">please enter a price</div>
          </div>

          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country:</label>
            <input
              type="text"
              id="country"
              name="listing[country]"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Enter Valid Country!!</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description:</label>
          <textarea
            id="description"
            name="listing[description]"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">
            Please enter a message in the textarea.
          </div>
        </div>

        <div class="mb-3">
          <label for="image_url" class="form-label">Upload listing Image</label>
          <input
            type="file"
            id="image_url"
            name="listing[image]"
            class="form-control"
          />
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location:</label>
          <input
            type="text"
            id="location"
            name="listing[location]"
            class="form-control"
            required
          />
          <div class="invalid-feedback">please enter a Location</div>
        </div>

        <button class="btn btn-dark add-btn">Add</button>
        <br /><br />
      </form>
    </div>
  </div>
</body>
